#!/bin/bash
umask 002
export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
export FFMPEG_DATADIR=/usr/share/ffmpeg/
exec /vol/website/vendor/bin/heap queue:consume {{VAR_HEAP_QUEUE_NAME}}
