[supervisord]
nodaemon=true
logfile=/vol/logs/{{HOSTNAME}}-supervisord.log

[program:heap-qmgr]
process_name=heap-qmgr-%(process_num)s
command=/run-heap-qmgr.sh
user=heap
environment=HOME="/home/heap",USER="heap"
stopasgroup=true
stopwaitsecs=3600
numprocs={{VAR_HEAP_QUEUE_WORKERS}}
autorestart=true
redirect_stderr=true
stdout_events_enabled=true
stderr_events_enabled=true

[program:nullmailer]
command=/run-nullmailer.sh
stdout_logfile=/vol/logs/{{HOSTNAME}}-nullmailer.log
stderr_logfile=/vol/logs/{{HOSTNAME}}-nullmailer.log
priority=3
